<h2>Become a member</h2>
<hr>

<form action="/users/new" method="post">
  <input type="text" name="name" placeholder="Full name" required>
  <input type="text" name="user_name" placeholder="username" required>
  <input type="email" name="email" placeholder="example@email.com" required><br>
  <input type="password" name="password" placeholder="password" required><br>
  <input type="submit" class="bttn-green" value="Register">
  <div class="clearfix"></div>
</form>