<div class="bubble float_left" id="search_bar">
  <form action="/search/" method="get">


    <input id="input" type="text" placeholder="@" name="user_name">
    <input class="bttn-green float_left" type="submit" value="Search">
  </form>
</div>