<div id="container-mid">
  <div class="bubble">
    <center><h1>Welcome to Lil Twitta!</h1>The best social networking site in the world!</center>
  </div>
</div>

<div id="left" class="bubble">
  <%= erb :_login %>
</div>

<div id="right" class="bubble">
  <%= erb :_register %>
</div>