<div class="container">


  <br>
  <h2>Here is a list of your favorite bands!</h2>

  <br>

  <h2>Add more bands to your list here:</h2>
    <a href=""><%= erb :_band_list %></a>

  <br>
  <%= erb :_search_bands_field %>

</div>
