<div class="container">

  <h1 id="band_label"><%= @musician %></h1>

  <br>

  <h2>Add more bands to your list here: <%= erb :_back_link %>
</h2>
    <a href=""><%= erb :_band_list %></a>
  <br>

  <div class="media_box">
    <div id="band_imgs">
      <% @photos = band_photos(@musician, 12).in_groups_of(3) %>
      <%= erb :_flicker_sidebar_widget %>
    </div>

    <div id="twitter_widget">
        <a class="button" style="display:block; text-align: center; width: 50%; min-width: 50%;" id="artistLoop">#groupyOn</a>
        <div id="tweetbox"></div>
    </div>

  </div>

</div>