<div class="container">
	<% if current_user != nil %>
    <h1> Welcome to Festifind...Please log in!</h1>
		<% User.all.each do |t| %>
		  <p> <%= t.name %> </p>
		<% end %>

	<form method="post" action="/sessions/<%=@current%>">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Log me out!" />
  </form>
		<% else %>
			<h1> Visit again soon, Groupy!</h1>
		<% end %>
  </div>
