<div class="container">
  <h1>Welcome to your profile, <%= current_user_name.capitalize %>!</h1>
  <br>
  <br>
  <h2>Here is a list of your favorite bands!</h2>

  <br>
  <br>
  <br>

  <h2>Add more bands to your list here:</h2>
    <a href=""><%= erb :_band_list %></a>

</div>
